* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-family: 'Thasadith', sans-serif;
    font-weight: 700;
    background-color: #e2dddd;
    color: #4b4646;
}

.container {
    margin: 20px;
    margin-left: 32px;
    max-width: 85%;
}

.lists__main a {
    width: 20px;
    height: 20px;
    transition: .4s linear;
}

.list__main a:hover {
    transform: scale(.8);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.lists__main {
    font-weight: bold;
    background-color: #6cb6e0;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
    display: inline-block;
}

.lists__main ul {
    list-style-type:none;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

.lists__main li {
    margin-top: 12px;
    background-color: #d4ddee;
    color: #2b2828;
    border-radius: 4px;
    padding: 8px;
}

.lists__main p {
    background-color: #3f7bd4;
    color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
}

.container_section__heading {
    display: inline-block;
    background-color: #6cb6e0;
    color: #0049B7;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
    margin: 20px 0px;
}

.thread__list {
    background-color: #f7eff7;
}

#free {
    background-color: #6cb6e0;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    margin: 2px;
}

.container__heading {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.container__heading ul {
    list-style-type:none;
    display:flex;
}

.container__heading a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    color: #0049B7;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
}

.container__heading a::before, .container__heading a::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.container__heading a:hover {
    transform: scale(.8);
}

.container__heading a:hover::before {
    border-left: 2px solid;
    border-right: 2px solid;
    transform: skewX(20deg);
}

.container__heading a:hover::after {
    border-top: 2px solid;
    border-bottom: 2px solid;
    transform: skewY(-20deg);
}

footer {
    text-align: center;
}

.fa-heart {
    color: red;
}