* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    background-color: #f75990;
    color: #fff;
}

.container {
    margin: 20px;
    margin-left: 32px;
    max-width: 85%;
}

.lists__main {
    font-weight: bold;
    background-color: #6cb6e0;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
    display: inline-block;
}

.lists__main li {
    list-style: none;
    margin: 8px;
}

.lists__main p {
    background-color: #3f7bd4;
    color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
}

.container_section__heading {
    display: inline-block;
    background-color: #ff1d58;
    color: #0049B7;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
}

#free {
    background-color: #3f7bd4;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    margin: 2px;
}
